.page-change {
    height: 750px;
    $pencil-green: #09d56e;
    $pencil-dark: #232123;
    $body-bg: #010001;

    .loading {
        text-align: center;
        height: 750px;
        z-index: 100;
        .ring {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 300px;
            background: transparent;
            border: 3px solid #3c3c3c;
            border-radius: 50%;
            text-align: center;
            line-height: 150px;
            font-size: 20px;
            color: var(--primary);
            letter-spacing: 4px;
            text-transform: uppercase;
            text-shadow: 0 0 10px var(--primary);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            h1 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .ring:before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border: 10px solid transparent;
            border-top: 10px solid var(--primary);
            border-right: 10px solid var(--primary);
            border-radius: 50%;
            animation: animateC 2s linear infinite;
        }
        span {
            display: block;
            position: absolute;
            top: calc(50% - 2px);
            left: 50%;
            width: 50%;
            height: 4px;
            background: transparent;
            transform-origin: left;
            animation: animate 2s linear infinite;
        }
        span:before {
            content: "";
            position: absolute;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: var(--primary);
            top: -6px;
            right: -8px;
            box-shadow: 0 0 20px var(--primary);
        }
        @keyframes animateC {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        @keyframes animate {
            0% {
                transform: rotate(45deg);
            }
            100% {
                transform: rotate(405deg);
            }
        }
    }
    .error {
        display: flex;
        justify-content: center;
        text-align: center;
        height: 750px;
        h1 {
            font-size: 5rem;
            color: var(--primary);
        }
    }
}
