.request {
    
    .img-twice {
        display: flex;
        flex-direction: column;
        height: 100%;
        .img-fluid {
            width: 50%;
            &:last-child {
                margin-top: auto;
                margin-left: auto;
            }
        }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        .img-twice {
            .img-fluid {
                width: 75%;
            }
        }
    }
    @media screen and (max-width: 991px) {
        .img-twice {
            .img-fluid {
                width: 100%;
            }
        }
    }
}
